body {
  background-image: url('https://cdn.wallpapersafari.com/28/98/JsoIPb.jpg');
}
header {
  margin: 0%;
  margin-bottom: 4rem;
}

h1 {
  color: #68664e;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
