ul {
  color: #7a775c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

li {
  width: 200px;
  height: 375px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 10px #a09e77 solid;
  padding: 1rem;
  border-style: double;
  border-radius: 10px;
}

li:hover {
  box-shadow: 0 0 30px #68664e97;
  -webkit-transition: box-shadow 0.6s ease-in;
}

img {
  border-radius: 10px;
}

span {
  font-family: 'Nunito', sans-serif;
  padding-top: 5px;
}
